@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:saddlebrown; font-weight:500;">Welcome to Agri Connect!</h1>
</div>
<div class="container-lg CardArea mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/discussion_board.jpg" class="card-img-top" alt="Discussion Board">
                <div class="card-body">
                    <h5 class="card-title">Discussion Board</h5>
                    <p class="card-text">Converse, debate, and collaborate with fellow enthusiasts.</p>
                    <a class="btn btn-success" asp-area="" asp-controller="ForumEntries" asp-action="Index">Engage</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/store.jpg" class="card-img-top" alt="Store">
                <div class="card-body">
                    <h5 class="card-title">Store</h5>
                    <p class="card-text">A single destination for your farming and energy requirements.</p>
                    <a class="btn btn-success" asp-area="" asp-controller="Merchandises" asp-action="Index">Shop</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/campaign.jpg" class="card-img-top" alt="Campaigns">
                <div class="card-body">
                    <h5 class="card-title">Campaigns</h5>
                    <p class="card-text">Participate and contribute to future campaigns to advance the agriculture and green energy sectors.</p>
                    <a class="btn btn-success" asp-area="" asp-controller="Campaigns" asp-action="Index">Participate</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Any additional JavaScript can be added here
    </script>
}
